@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap");

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: rgb(34, 34, 51);
  color: #b1d5ff;
  font-weight: bold;
}

.main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  display: block;
  margin: 20px;
}

button {
  padding: 10px;
  background-color: aliceblue;
}

#output-div {
  font-weight: bold;
  margin: 10px;
}

:root {
  --primary-color: #047857;
  --white: white;
  --dark-grey: grey;
  --off-white: #f3f4f6;
}

.footer-bar {
  background-color: var(--primary-color);
  border-top-right-radius: 20px;
  padding: 30px;
  margin-top: 30px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-wrap {
  margin-top: 30px;
}

.footer-wrap a {
  padding-right: 30px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
